/*-- scss:defaults --*/
$font-family-sans-serif: "Helvetica Neue", Arial, sans-serif;
$presentation-heading-font: "Helvetica Neue", Arial, sans-serif;
$body-bg: #ffffff;
$body-color: #202334;
$link-color: #175c50;
$presentation-heading-color: #302a78;
